__pycache__/
cache.json
cache.json.lock
config.json
config_states/
embeddings/
environment-wsl2.yaml
extensions/
extensions-builtin/
html/
javascript/
style.css
script.js
localizations/
log/
models/
outputs/
tmp/
venv/
*.py[cod]
.DS_Store
webui-macos-env.sh
webui-user.bat
webui-user.sh
webui.bat
webui.sh
